:root {
  --font-size--default: 1.1rem;
  --color--text: #222;
  --background-color--primary: #fff;
  --font--headings: 'Orelega One', cursive;
  --font--reading: 'Heebo', sans-serif;
  font-size: var(--font-size--default);
}

body {
  background-color: var(--background-color--primary);
  color: var(--color--text);
  font-family: var(--font--reading);
  font-weight: 100;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font--headings);
}
